@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body,
html {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

#rowloggernav {
  background-color: white !important;
  box-shadow: 0 7px 4px -4px #eee;
  height: 80px !important;
  font-family: "Raleway", sans-serif;
}

#rowloggernav .navbar-brand {
  margin-left: 20px;
  font-size: 30px;
}

.bg-light {
  background-color: white;
}

.frontPage {
  font-family: "Raleway", sans-serif;
}

.frontPage .home {
  height: 650px;
  width: 100%;
  background-color: #f1f1f1;
}

.frontPage h1 {
  max-width: 1400px;
  margin: auto;
  font-weight: 800;
  font-size: 60px;
  padding-left: 40px;
  padding-top: 70px;
  display: block;
}

.frontPage .homeDescriptionContainer {
  max-width: 1400px;
  padding-left: 40px;
  margin: auto;
}

.frontPage section {
  width: 400px;
  display: inline-block;
}

.frontPage .homeDescription {
  font-size: 18px;
  color: #5a5a5a;
  line-height: 28px;
  width: 400px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.frontPage .appLink {
  text-decoration: underline;
}

.frontPage .appLinkFull {
  font-size: 14px;
  color: #8e8d8a;
}
.frontPage .appLink:hover {
  cursor: pointer;
  color: #6d6b68;
}

.frontPage button {
  margin: none;
  display: block;
  width: 325px;
  height: 50px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.frontPage .signupButton {
  background-color: #e85a4f;
  color: #fff;
}

.frontPage .signupButton:hover {
  background-color: #d6382d;
}

.frontPage .loginButton {
  background-color: #d8c3a5;
  color: #444;
}

.frontPage .loginButton:hover {
  background-color: #c7b294;
}

.frontPage .homeImg {
  margin-top: 30px;
  margin-left: 20px;
  height: auto;
  box-shadow: 7px 7px 4px #ccc;
  vertical-align: top;
}

.frontPage .homeXLImg {
  max-width: 900px;
}

.frontPage .homeLargeImg {
  max-width: 700px;
}

@media only screen and (max-width: 1400px) {
  .homeXLImg {
    display: none;
  }
}

@media only screen and (min-width: 1401px) {
	.homeLargeImg {
	  display: none;
	}
  }

@media only screen and (max-width: 1200px) {
  .homeLargeImg {
    display: none;
  }

  .frontPage .home section {
	  width: 100%;
  }

  .frontPage .home .homeDescriptionContainer {
	  padding: 0;
  }

  .frontPage .home .homeDescription {
	  margin: 0 auto;
	  text-align: center;
  }

  .frontPage .home button {
	  margin: 0 auto 20px;
  }

  .frontPage .home h1 {
	  text-align: center;
	  padding-left: 0;
  }

  .frontPage .appLinkFull {
	  text-align: center;
	  font-size: 24px;
  }

  .frontPage .home {
	  height: 750px;
  }
}

.frontPage .secondary {
  padding-top: 50px;
  background-color: #fafafa;
  width: 100%;
}

.frontPage .rowerBlock {
  width: 1050px;
  margin: 100px auto 0px;
}

.frontPage .rowerBlock img {
  display: inline-block;
}

.frontPage .rowerDescription {
  display: inline-block;
  vertical-align: top;
}

.frontPage .rowerDescription h3 {
  margin-top: 10px;
  color: #e85a4f;
  font-size: 24px;
}

.frontPage .rowerDescription h2 {
  font-weight: 700;
  color: #333;
}

.frontPage .rowerDescription p {
  font-size: 20px;
  color: #3a3a3a;
}

.frontPage .coachBlock {
  width: 1050px;
  margin: 150px auto 0px;
  padding-bottom: 150px;
}

.frontPage .coachBlock img {
  display: inline-block;
}

.frontPage .coachDescription {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (min-width: 1051px) {
  .rowerDescription {
    margin-left: 100px;
    max-width: 500px;
  }

  .coachDescription {
    margin-right: 100px;
    max-width: 500px;
  }
}

@media only screen and (max-width: 1050px) {
  .rowerDescription {
    max-width: 350px;
    margin-left: 50px;
  }

  .frontPage .secondary .rowerBlock {
	  width: 850px;
  }

  .coachDescription {
    max-width: 350px;
    margin-right: 50px;
    padding-left: 20px;
  }

  .frontPage .coachBlock {
	  width: 850px;
  }
}

.frontPage .coachDescription h3 {
  margin-top: 10px;
  color: #e85a4f;
  font-size: 24px;
}

.frontPage .coachDescription h2 {
  font-weight: 700;
  color: #333;
}

.frontPage .coachDescription p {
  font-size: 20px;
  color: #3a3a3a;
}

.frontPage .footer {
  background-color: #f1f1f1;
  height: 200px;
}

.frontPage .footerContent {
	width: 1000px;
	margin: 0 auto;
}

.footerContent h3 {
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: 700;
	color: #333;
}

.footerContent p {
	color: #444;
}

.footerContent p:hover {
	cursor:pointer;
	text-decoration: underline;
}

.registerPage {
	font-family: "Raleway", sans-serif;
	background-color: #f1f1f1;
	min-height: calc(100vh - 80px);
}

.registerPage h1 {
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	padding-top: 50px;
	margin-bottom: 25px;
}

.registerPage .registerForm {
	margin: 0 auto;
	width: 500px;
}

.registerPage .form-group {
	margin-bottom: 25px;
}

.registerPage .firstName {
	width: 230px;
	display: inline-block;
	margin-right: 40px;
}

.registerPage .lastName {
	width: 230px;
	display: inline-block;
}

.registerPage .signupButton {
	background-color: #e85a4f;
	border-color: #e85a4f;
}

.registerPage .signupButton:hover {
	background-color: #d6382d;
}

.registerPage .orLine {
	width: 300px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 25px;
}

.registerPage .orLine::before, .registerPage .orLine::after {
	content: '';
	flex: 1;
	border-bottom: 2px solid #d8c3a5;
}

.registerPage .orLine::before {
	margin-right: .25em;
}

.registerPage .orLine::after {
	margin-left: .25em;
}

.loginPageRedirection {
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
	color: #333;
	border-bottom: 2px solid #d8c3a5;
	padding-bottom: 15px;
}

.loginPageRedirection span {
	text-decoration: underline;
	color: #555;
}

.loginPageRedirection span:hover {
	cursor: pointer;
}

.registerPage .ToSLine {
	width: 300px;
	margin: 0 auto;
}

.registerPage .ToSLine p {
	padding-top: 10px;
	margin: 0 auto;
	width: 250px;
	text-align: center;
	font-size: 14px;
	color: #333;
}

.registerPage .ToSLine p span {
	text-decoration: underline;
	color: #555;
}

.registerPage .ToSLine p span:hover {
	cursor: pointer;
}