.rowForm {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding: 20px;
}

.rowLog {
  margin-left: 400px;
}

.rowDateGroup {
  display: inline-block;
}

.rowDistanceGroup {
  display: inline-block;
  margin-left: 25px;
  width: 110px;
}

.rowTimeGroupA {
  display: inline-block;
}

.rowTimeGroupAA {
  display: inline-block;
  width: 56px;
}

.rowTimeGroupAB {
  display: inline-block;
  margin-left: 0px;
  width: 56px;
}

.rowTimeGroupB {
  display: inline-block;
}

.rowTimeGroupBA {
  display: inline-block;
  width: 56px;
}

.rowTimeGroupBB {
  display: inline-block;
  margin-left: 0px;
  width: 56px;
}

.rowDateLabel {
  display: block;
}

.react-datepicker-wrapper {
  width: 100px;
}

.react-datepicker-wrapper input {
  width: 100px;
}

form .rowButton {
  width: 100%;
  display: block;
}

.rowSPM {
  width: 45px;
  display: inline-block;
}

.bottomTag {
  position: fixed;
  bottom: 0px;
}

.rowAverageSplit {
  margin-left: 15px;
  width: 180px;
  display: inline-block;
}

.rowAverageSplit label {
  display: block;
}

.rowAverageSplit input {
  display: inline-block;
  width: 56px;
}

hr.versionTag {
  width: 275px;
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bottomTag p {
  font-size: 10px;
  text-align: center;
  color: #888;
}