body, html {
  height: 100%;
}

#rowloggernav {
  background-color: white!important;
  box-shadow: 0 10px 4px -4px #eee;
  height: 56px!important;
}

.bg-light {
  background-color: white;
}

.rowForm {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding: 20px;
  box-shadow: 7px 0 4px -4px #eee;
  overflow-y: hidden;
}

.rowLog {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 300px;
  padding-left: 40px;
  height: calc(100vh - 56px);
  background-color: #f6f6f6;
}

.rowDateGroup {
  display: inline-block;
}

.rowDistanceGroup {
  display: inline-block;
  margin-left: 25px;
  width: 125px;
}

.rowTimeGroupA {
  display: inline-block;
}

.rowTimeGroupAA {
  display: inline-block;
  width: 60px;
}

.rowTimeGroupAB {
  display: inline-block;
  margin-left: 0px;
  width: 60px;
}

.rowTimeGroupB {
  display: inline-block;
}

.rowTimeGroupBA {
  display: inline-block;
  width: 60px;
}

.rowTimeGroupBB {
  display: inline-block;
  margin-left: 0px;
  width: 60px;
}

.rowDateLabel {
  display: block;
}

.react-datepicker-wrapper {
  width: 100px;
}

.react-datepicker-wrapper input {
  width: 100px;
}

form .rowButton {
  width: 100%;
  display: block;
  margin-top: 15px;
}

.rowSPM {
  width: 60px;
  display: inline-block;
}

.bottomTag {
  position: fixed;
  bottom: 0px;
}

.rowAverageSplit {
  margin-left: 15px;
  width: 180px;
  display: inline-block;
}

.rowAverageSplit label {
  display: block;
}

.rowAverageSplit input {
  display: inline-block;
  width: 56px;
}

.rowLog div {
  margin-right: 40px;
  margin-top: 50px;
  width: 33vw;
  min-width: 430px;
  height: 75vh;
  background-color: white;
  vertical-align: top;
  display: inline-block; 
  border-radius: 8px;
  box-shadow: 5px 5px 4px 2px #eee;
  padding-left: 20px;
  padding-top: 20px;
  overflow: auto;
  overflow-x: hidden;
}

hr.versionTag {
  width: 275px;
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bottomTag p {
  font-size: 10px;
  text-align: center;
  color: #888;
}

table {
  table-layout: fixed;
  width: 30vw;
  min-width: 400px;
}

th {
  font-weight: 500;
  border-bottom: 2px solid #aaa;
}

td {
  border-bottom: 1px solid #ddd;
  height: 35px;
}

.react-datepicker-wrapper input {
  width: 100px;
  padding-left: 7px;
}

.errorMessage {
  margin-bottom: 10px;
}