.rowPopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.rowPopupInner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 5px;
  background: white;
  min-width: 600px;
  min-height: 600px;
  overflow: auto;
}

.rowPopup .rowDateGroup .dateLabel {
    display: block;
    margin-bottom: 5px;
}

.rowPopup h3 {
    margin: 25px 0 15px;
  text-align: center;
  color: #e85a4f;
}

.form-group {
    width: 50%;

    margin: 0 auto;
}

.rowTimeHours {
    display: inline-block;
    width: 8%;
    margin-left: 25%; 
}

.rowTimeMinutes {
    display: inline-block;
    width: 8%;
}

.rowTimeSeconds {
    display: inline-block;
    width: 8%;
}

.rowTimeTenths {
    display: inline-block;
    width: 8%;
}

.rowSPM {
    display: inline-block;
    width: 8%;
    margin-left: 8.5%;
}